# Istoric si Sesiune R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Fisiere generate de R Markdown
*.pdf
*.html
*.docx
!documentatie.pdf

# Fisiere temporare de la compilarea LaTeX
*.tex
*.log
*.aux
*.out
*_cache/
*_files/

# Documentatie veche
old_docs/